@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,100&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#nav-bar {
    height: 80px;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}

.logo {
    font-size: 33px;
    color: #fad105;
    font-weight: 600;
}

.nav-bar-links {
    display: flex;
    list-style: none;
}

.nav-bar-links li {
    margin: 0 5px;
}

.nav-bar-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-bar-links li a:hover,
.nav-bar-links a.active {
    background-color: #fad105;
    color: #1b1b1b;
}

/* nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
} */

.profile {
    height: 70vh; /* 1vh = 1%*/
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 33px;
    font-weight: 600;
    /* background-color: aqua; */
    gap: 3rem;
}

.profile img {
    width: 400px;
    height: 400px;
}

.profile .text-display {
    font-weight: 600;
    font-size: 2rem;
}

.profile .text-display .btn-more {
    background-color: black;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 2rem;
}

.profile .text-display a:hover {
    background-color: white;
    color: black;
    border-color: #fad105;
    border-style: solid;
}

 /* @media(max-width: 940px) {
    nav ul {
        position: fixed;
        top: 80px;
        left: 0;
        background-color: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
    }
    nav ul li {
        margin: 40px 0;
    }
    nav ul li a {
        font-size: 20px;
        display: block;
    }
    nav ul li a:hover,
    nav ul li a.active {
        color: cyan;
        background: none;
    }
}  */